.git
.github
.bsp
.bloop
.metals
.idea
.vscode

target
project/project
project/target
**/target

node_modules
webui/node_modules
webui/dist
webui/.vite

.env
*.token
lichess.token

*.log
hs_err_pid*
out
perf/apache-maven-3.9.9
perf/gatling/results
